<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div routerLink="/" routerLinkActive="router-link-active" class="logo-container">
      <img src="assets/img/logo.png" class="logo">
    </div>

    <ul>
      <li routerLink="/" routerLinkActive="router-link-active"><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li routerLink="/user" routerLinkActive="router-link-active"><mat-icon>perm_identity</mat-icon>User</li>
    </ul>

  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
        <span>{{ headerText }}</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>