<mat-card class="user-detail-header">
    <div class="avatar-box" (click)="editAvatar()" (mouseenter)="showIcon = true" (mouseleave)="showIcon = false;">
        <img src="assets/img/user_avatar.png" class="avatar">
        <div *ngIf="showIcon">
            <img src="assets/img/pencil_white.png" class="edit-icon">
        </div>
    </div>
    <div class="header-name">
        <h2>{{ user.firstName }} {{ user.surName }} <b>#{{ formatCustomerID(user.customerID) }}</b></h2>
        <span>{{ user.email }}</span>
    </div>
    <button mat-icon-button class="pin-tr-corner" [matMenuTriggerFor]="menuUser">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuUser="matMenu">
        <button mat-menu-item (click)="editUser()">Edit</button>
    </mat-menu>
</mat-card>

<mat-card class="mt-28">
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ user.street }} {{ user.streetNumber }}<br>{{ user.postCode }} {{ user.city }}
    </mat-card-content>

    <button mat-icon-button class="pin-tr-corner" [matMenuTriggerFor]="menuAddress">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuAddress="matMenu">
        <button mat-menu-item (click)="editAddress()">Edit</button>
    </mat-menu>
</mat-card>

<mat-card class="mt-28">
    <mat-card-header>
        <mat-card-title>Contact</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ user.email }}<br>{{ user.phone }}
    </mat-card-content>

    <button mat-icon-button class="pin-tr-corner" [matMenuTriggerFor]="menuContact">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuContact="matMenu">
        <button mat-menu-item (click)="editContact()">Edit</button>
    </mat-menu>
</mat-card>