.user-detail-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 16px 28px;
    min-height: 205px;
    background-color: orange;
    color: white;

    .avatar-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #3f51b5;
    
        .avatar {
            z-index: 1;
            height: 75px;
            width: 75px;
            border-radius: 100%;
    
            &:hover {
                filter: contrast(0.2);
            }
        }
    
        div {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 2;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
    
            .edit-icon {
                height: 22px;
                width: 22px;
            }
        }
    } 
    
    .header-name {
        height: 75px;
        margin-left: 28px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2 {
            margin: 0;
            font-size: 2em;
        }
        
        b {
            font-weight: 500;
            font-size: 0.45em;
        }

        span {
            font-style: italic;
            margin-left: 2px;
        }
    }
}

.pin-tr-corner {
    position: absolute;
    top: 8px;
    right: 8px;
}

mat-card-content {
    padding-bottom: 16px;
}