<button mat-fab color="primary" class="add-user-btn" matTooltip="Add user" (click)="openDialog()" [class.dark-theme]="themeService.isDarkMode">
    <mat-icon>add</mat-icon>
</button>

<mat-card [class.dark-theme]="themeService.isDarkMode">
    <table class="user-table" [class.dark-theme]="themeService.isDarkMode">
        <tr>
            <th (click)="sortingAspect = 'customerID'; sortUsers(); toggleSortingOrder()">Customer ID</th>
            <th (click)="sortingAspect = 'firstName'; sortUsers(); toggleSortingOrder()">Name</th>
            <th (click)="sortingAspect = 'city'; sortUsers(); toggleSortingOrder()">Location</th>
            <th (click)="sortingAspect = 'email'; sortUsers(); toggleSortingOrder()">Email</th>
        </tr>
        <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.id]">
            <td>{{ formatCustomerID(user.data.customerID) }}</td>
            <td>{{ user.data.firstName }} {{ user.data.surName }}</td>
            <td>{{ user.data.city }}</td>
            <td>{{ user.data.email }}</td>
        </tr>
    </table>
</mat-card>