.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.add-user-btn.dark-theme {
    background-color: rgb(121, 230, 219);
    color: rgb(45, 45, 45);
}

mat-card {
    padding: 0;
}

mat-card.dark-theme {
    background-color: rgb(90, 90, 90);
    color: aliceblue;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    th {
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        font-weight: 500;
        text-align: start;
        padding: 16px;
        cursor: pointer;

        &:first-child {
            width: 95px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset !important;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    td {
        height: 56px;
        padding-left: 16px;
    }
}

.user-table.dark-theme {
    th {
        color: rgba(121, 230, 219, 0.9);

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    tr {
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}