<button mat-fab color="primary" class="add-user-btn" matTooltip="Add user" (click)="openDialog()" [class.dark-theme]="themeService.isDarkMode">
    <mat-icon>add</mat-icon>
</button>

<mat-card [class.dark-theme]="themeService.isDarkMode">
    <table class="user-table" [class.dark-theme]="themeService.isDarkMode">
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Email</th>
        </tr>
        <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.id]">
            <td>{{ formatCustomerID(user.data.customerID) }}</td>
            <td>{{ user.data.firstName }} {{ user.data.surName }}</td>
            <td>{{ user.data.city }}</td>
            <td>{{ user.data.email }}</td>
        </tr>
    </table>
</mat-card>